body {
    &::-webkit-scrollbar {
        width: 3px;
        background-color: #F5F5F5;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $indigo;
    }
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
        box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
    }
}

* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-SemiBold.ttf");
    font-weight: 600;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Bold.ttf");
    font-weight: 700;
}

.page-wrapper {
    * {
        font-family: 'Montserrat', sans-serif;
        @include box-sizing(border-box);
    }
    img {
        max-width: 100%;
    }
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.clearfix {
    &:after {
        clear: both;
        content: '';
        display: block;
    }
}

.site-container {
    width: 90%;
    margin: 0 auto;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"] {
    width: 100%;
    display: block;
    height: 45px;
    @include border-radius(5px);
    padding: 5px 10px;
    @include box-sizing(border-box);
    background-color: $light_gray;
    color: $black;
    font-size: $font_15;
    font-weight: 500;
    border: 1px solid darken($light_gray, 10%);
    outline: 0;
}

textarea {
    width: 100%;
    display: block;
    height: 100px;
    @include border-radius(5px);
    padding: 10px;
    @include box-sizing(border-box);
    background-color: $light_gray;
    color: $black;
    font-size: $font_15;
    font-weight: 500;
    border: 1px solid darken($light_gray, 10%);
    outline: 0;
    resize: none;
}

.btn {
    @include box-sizing(border-box);
    @include border-radius(35px);
    background-color: $purple;
    @include box-shadow(0px 0px 8px 2px rgba(0,
    0,
    0,
    .2));
    font-size: $font_24;
    border: 0;
    outline: 0;
    min-width: 225px;
    padding: 10px;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: $white;
    min-width: 200px;
    display: inline-block;
    @media(max-width: 1024px) {
        font-size: $font_20;
    }
    @media(max-width: 768px) {
        font-size: $font_18;
    }
    &:hover {
        background-color: darken( $purple, 10%)
    }
    &.btn-outline {
        border: 1px solid $white;
        background-color: transparent;
        @include box-shadow(0 0 0 rgba(0,
        0,
        0,
        0));
    }
}

.visible-phone {
    @media(min-width: 769px) {
        display: none;
    }
}

.hidden-phone {
    @media(max-width: 768px) {
        display: none;
    }
}

.hidden {
    display: none;
}