* {
    margin: 0;
    padding: 0;
}
.page-wrapper {
    * {
        font-family: 'Roboto', sans-serif;
        @include box-sizing(border-box);
    }
}
.clearfix {
	&:after {
		clear: both;
		content: '';
		display: block;
	}
}
.site-container {
    width: 90%;
    margin: 0 auto;
}
.pull-left {
	float: left;
}
.pull-right {
	float: right;
}
.display-table {
	width: 100%;
	display: table;
	table-layout: fixed;
}
.display-table-cell {
	display: table-cell;
	vertical-align: middle;
}

.btn {
    display: inline-block;
    padding: 10px 30px;
    @include border-radius(5px);
    border: 0;
    overflow: hidden;
    cursor: pointer;
    outline: 0;
    vertical-align: middle;
    text-align: center;
    white-space: nowrap;
    position: relative;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    @include box-shadow(0, 0, 10px, rgba(0, 0, 0, .1));
    margin: 10px 0;
    @include transition(.2s all linear);
    @media(max-width: 480px) {
        font-size: 13px;
        padding: 10px;
    }
}
