.contact-body-wrapper {
	background-color: $common_bg;
}

.contact-section-one {
	background-image: url("../images/map.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-color: $common_color;
	padding: 100px 0;
	@include box-sizing(border-box);
	@include breakpoint(large_max) { padding: 50px 0; }
	@include breakpoint(extra_small_max) { padding: 30px 0; }
	height: 80vh;
	position: relative;
	.icon-map-pin {
		@include abs-pos(50%, 50%, auto, auto);
		font-size: 4rem;
		color: $hover_color;
		margin-left: -24px;
		margin-top: -32px;
		@include breakpoint(large_min) {
			font-size: 5rem;
			margin-left: -30px;
			margin-top: -40px;
		}
	}
}

.contact-section-two {
	overflow: hidden;
	position: relative;
	top: -160px;
	@include breakpoint(small_max) {
		top: 0;
		margin: 25px 0;
	}
	.section-container {
		margin: 0 -40px;
		@include breakpoint(small_max) {
			top: 0;
			margin: 0;
		}
	}
	.display-table {
		border-spacing: 40px 0;
		@include breakpoint(small_max) {
			display: block;
		}
		.display-table-cell {
			background-color: $day_color;
			vertical-align: top;
			padding: 30px;
			@include box-sizing(border-box);
			text-align: center;
			@include breakpoint(small_max) {
				display: block;
				&:not(:last-child) {
					margin-bottom: 25px;
				}
			}
			span {
				font-size: 4rem;
				display: inline-block;
				margin-bottom: 30px;
				color: $common_color;
				@include breakpoint(large_min) {
					font-size: 5rem;
				}
				& + p {
					font-size: 1rem;
					font-family: $font-family-two;
					margin-bottom: 30px;
					& + a {
						cursor: pointer;
						display: block;
						line-height: 1.2;
						text-decoration: none;
						font-size: .9rem;
						color: $fade_color;
						font-weight: 300;
					}
				}
			}
			p {
				margin: 0;
				line-height: 1.2;
				color: $common_color;
			}
			.address {
				font-style: normal;
				p {
					font-size: .9rem;
					color: $fade_color;
				}
			}
			.social-links {
				padding-left: 0;
				list-style: none;
				margin: 0;
				li {
					display: inline-block;
					a {
						display: block;
						padding: 7px;
						font-size: 2rem;
						/* @include breakpoint(large_min) { font-size: 2.3rem; } */
						color: $common_color;
						text-decoration: none;
						&.icon-facebook-with-circle {
							&:hover {
								color: $fb_color;
							}
						}
						&.icon-linkedin-with-circle {
							&:hover {
								color: $linkedin_color;
							}
						}
						&.icon-google-with-circle {
							&:hover {
								color: $google_color;
							}
						}
						&.icon-instagram-with-circle {
							&:hover {
								color: $insta_color;
							}
						}
						&.icon-twitter-with-circle {
							&:hover {
								color: $twitter_color;
							}
						}
					}
				}
			}
			&:nth-child(2) {
				span {
					& + p {
						& + a {
							margin-bottom: 30px;
						}
					}
				}
			}
			&:last-child {
				a {
					cursor: pointer;
					display: block;
					line-height: 1.2;
					text-decoration: none;
					font-size: .9rem;
					color: $fade_color;
					font-weight: 300;
				}
			}
		}
	}
}

.contact-section-three {
	margin-top: -70px;
	@include breakpoint(small_max) {
		margin-top: 70px;
	}
	.form-container {
		width: 90%;
		max-width: 600px;
		margin: 0 auto;
	}
	form {
		.form-group {
			margin-bottom: 25px;
			position: relative;
			&:last-of-type {
				margin-bottom: 50px;
			}
			input, textarea {
				@include border-radius(5px);
				background-color: $day_color;
				font-family: $font-family-two;
				font-size: 1rem;
				color: $fade_color;
				padding: 7px 15px;
				@include box-sizing(border-box);
				border: 0;
				font-weight: 300;
				width: 100%;
			}
			input {
				padding-left: 50px;
			}
			span {
				font-size: 1rem;
				color: $fade_color;
				@include abs-pos(10px, auto, auto, 15px);
			}
		}
		.row {
			margin-bottom: 25px;
			.form-group {
				margin-bottom: 0;
			}
			[class^="col"] {
				&:first-child {
					margin-left: 0;
					margin-top: 0;
					margin-bottom: 0;
				}
				@include breakpoint(small_max) {
					margin: 0;
					&:not(:last-child) {
						margin-bottom: 25px;
					}
				}
				&:last-child {
					margin-right: 0;
					margin-top: 0;
					margin-bottom: 0;
				}
			}
			.col-6 {
				width: 48%;
				@include breakpoint(small_max) {
					width: 100%;
				}
			}
		}
		.button-group {
			text-align: center;
		}
	}
}