#carousel {
	position: relative;
}

#slides {
	overflow: hidden;
	position: relative;
	width: 50%;
	ul {
		list-style: none;
		width:100%;
		margin: 0;
		padding: 0;
		position: relative;
	}
	li {
		width:100%;
		float:left;
		position: relative;
	}
}

/* Styling for prev and next buttons */
.btn-bar{
    position: relative;
}

#buttons {
	a {
	    display: inline-block;
	    line-height: 1;
	    padding: 10px;
	}
}