$day_color: #fff;
$common_color: #404040;
$section_two_bg: #2f2f2f;
$footer_bg: #292929;
$hover_color: #df4648;
$fb_color: #3b5998;
$twitter_color: #1da1f2;
$google_color: #db4437;
$insta_color: #dc247c;
$linkedin_color: #0077b5;
$sticky_header_color: #1e2631;